html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  --elements: 1;
  --element-size: 400px;
  --margin: 400px;
  --total-size: calc(calc(var(--elements) * var(--element-size)) + var(--margin));
  --first-wall: 205px;

  margin: 0;
  overflow: hidden;
}

.bgwall {
  background: #3d0005;
  background: linear-gradient(to right, #350004 var(--first-wall), #3d0005 var(--first-wall));
  width: var(--total-size);
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.container {
  width: var(--total-size);
  height: 100vh;
  display: grid;
  justify-content: start;
  align-items: start;
  animation: move-scene 10s linear 1 forwards 5s;
}

.floor {
  width: calc(var(--total-size) + 800px);
  height: 500px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  perspective: 500px;
}

.texture {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(to bottom, #000c, #0003),
    url("images/floor.jpg") 0 0 repeat;
  transform: translate(-300px, 60px) rotateX(25deg);
}

.wall {
  min-width: 100vw;
  width: 100%;
  margin-left: var(--margin);
  height: 80%;
  background: #630009 linear-gradient(to bottom, transparent 70%, #000a 95%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socle {
  width: 100%;
  height: 100px;
  border-top: 2px solid #444;
  background: url("images/marmol.jpg") repeat-x;
  transform: translate(-4px, 4px);
  box-shadow: 15px 2px 15px 10px #8881 inset;
}

.socle::after {
  content: "";
  width: 100%;
  height: 50%;
  display: block;
  background: linear-gradient(to top, #0000, #0008);
  transform: translate(-42px, 100px) skewX(-60deg);
}

.pictures {
  display: grid;
  grid-template-columns: repeat(var(--elements), var(--element-size));
  height: 400px;
}
